!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity:"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin:"anonymous"}
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
    :sass
      canvas
        border: solid 1px #333
        cursor: crosshair
        margin: auto
        position: center
  %body
    .container-fluid
      #app
        .panel.panel-default
          .controls.btn-toolbar.panel-heading{role:"toolbar"}
            %h3 
              Crepinator
              %small Draw. Print. Eat. Repeat
            .btn-group{role:"group"}
              %button.btn.btn-primary.dropdown-toggle{title: "Dessiner", type:"button", 'data-toggle' => "dropdown"}
                %i.fa.fa-pencil
                %span.caret
              %ul.dropdown-menu
                %li.tool-pen14
                  %a{href:"#"}
                    %i.fa.fa-circle
                %li.tool-pen28
                  %a{href:"#"}
                    %i.fa.fa-circle.fa-2x
                %li.tool-pen42
                  %a{href:"#"}
                    %i.fa.fa-circle.fa-3x
                %li.tool-pen56
                  %a{href:"#"}
                    %i.fa.fa-circle.fa-4x
                %li.tool-pen70
                  %a{href:"#"}
                    %i.fa.fa-circle.fa-5x
                %li.divider{role:"separator"}
                %li.tool-pen14-o
                  %a{href:"#"}
                    %i.fa.fa-circle-o
                %li.tool-pen28-o
                  %a{href:"#"}
                    %i.fa.fa-circle-o.fa-2x
                %li.tool-pen42-o
                  %a{href:"#"}
                    %i.fa.fa-circle-o.fa-3x
                %li.tool-pen56-o
                  %a{href:"#"}
                    %i.fa.fa-circle-o.fa-4x
                %li.tool-pen70-o
                  %a{href:"#"}
                    %i.fa.fa-circle-o.fa-5x

            
            .btn-group{role:"group"}
              %button.btn.btn-primary.dropdown-toggle{title: "Formes", type:"button", 'data-toggle' => "dropdown"}
                %i.fa.fa-cube
                %span.caret
              %ul.dropdown-menu
                %li.tool-disk
                  %a{href:"#"}
                    %i.fa.fa-circle
                    Rond
                %li.tool-rect
                  %a{href:"#"}
                    %i.fa.fa-square
                    Rectangle
                %li.divider{role:"separator"}
                %li.tool-disk-o
                  %a{href:"#"}
                    %i.fa.fa-circle-o
                    Rond creux
                %li.tool-rect-o
                  %a{href:"#"}
                    %i.fa.fa-square-o
                    Rectangle creux

            .btn-group{role:"group"}
              %button.btn.btn-danger.tool-clear{title: "Effacer", type:"button"}
                %i.fa.fa-trash
              %button.btn.btn-warning.tool-undo{title: "Annuler", type:"button"}
                %i.fa.fa-undo
              %button.btn.btn-success.tool-print{title: "Imprimer", type: "button"}
                %i.fa.fa-print

          .panel-body
            %canvas{width:800, height:600}
          .panel-footer
            %textarea#output
            Made with
            %i.fa.fa-heart
            at
            %a{href:"https://urlab.be", target:"_blank"} UrLab
    %script{src:"app.js", type:"text/javascript"}            
    %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity:"sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin:"anonymous"}
    :javascript
      var yoloSWAG = new PancakeDesigner($('#app'))
