!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    :sass
      canvas
        border: solid 1px #333
  %body
    %h1 Crepinator
    #app
      .controls
        %select.tool{value:"rect"}
          %option{value:"rect"} Rectangle
          %option{value:"circle"} Rond
        %button.clear Effacer
        %button.undo Annuler
      %canvas{width:800, height:600}
      %pre.svg
    %script{src:"app.js", type:"text/javascript"}
    :javascript
      var yoloSWAG = new PancakeDesigner($('#app'))
